<!doctype html>
<title><%- opts.title %></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<% opts.css.forEach(function (href) {
	%><link href="<%= href %>" rel="stylesheet"><%
}); %>
<script>examples=<%- JSON.stringify(opts.examples) %>;</script>
<% opts.js.forEach(function (src) {
	%><script src="<%= src %>"></script><%
}); %>
<header>
	<nav>
		<img src="<%= opts.logo %>" alt="<%= opts.title %>">
		<% menu(list, 1) %>
	</nav>
</header>

FUCK
<main>
	<% sections(list, 2) %>
	<footer>Last modified <%- lastModified() %></footer>
</main>
<script src="prism.js"></script>
<script src="examples.js"></script>
<script src="script.js"></script>
<%

function menu(children, depth) {
	%>
	<ul>
		<% if (depth < 3) children.sort(sort).forEach(function (child) {
			if (child.name) {
				%>
				<li>
					<a href="#<%- child.name %>"><span><%= child.title %></span></a>
					<% if (child.children) menu(child.children, depth + 1) %>
				</li>
				<%
			}
		}); %>
	</ul>
	<%
}

function sections(children, depth) {
	depth = Math.max(Math.min(depth, 6), 1);

	children.sort(sort).forEach(function (child) {
		%>
		<section<% if (child.name) { %> id="<%= child.name %>"<% } %>>
			<% if (child.title) { %><%- '<h' + depth + '>' %><%= child.title %><%- '</h' + depth + '>' %><% } %>
			<div>
				<%- child.content %>
				<% if (child.children) sections(child.children, depth + 1) %>
			</div>
		</section>
		<%
	});
}

function lastModified() {
	var now = new Date();

	var day = 'Sunday Monday Tuesday Wednesday Thursday Friday Saturday'.split(' ')[now.getDay()];

	var month = 'January February March April May June July August September October November December'.split(' ')[now.getMonth()];

	return day + ', ' + now.getDate() + ' ' + month + ' ' + now.getFullYear() + ' ' + now.getHours() + ':' + ('0' + now.getMinutes()).slice(-2);
}

function sort(childA, childB) {
	return (childA.order || 0) - (childB.order || 0);
}

%>
